.ramka{
    display: inline-block;
    border: 1px solid black;
    padding: 15px;
    background-color: beige;
}
.ramka:hover{
    background-color: darksalmon;
}
a:hover{
    color: blue;
}
.country{
    font-size: 15px;

}
a{
    text-decoration: None;
    color: black;
    font-family: Arial;

}
.wrap ol {

  list-style-position: inside;
  -moz-column-count: 4; /* Firefox */
  -webkit-column-count: 4; /* Safari and Chrome */
  column-count: 4;
  list-style-type: decimal;
  height: 1100px;
  padding: 4px;


}