{% extends 'base.html' %}
{% block context %}
<br>
{% if alfabet %}
            {% for result in alfabet %}
<li class = "ramka"><a href="/countryForThisLetter/{{ result }}">{{ result }}</a></li>
            {% endfor %}
{% endif %}
</br>

<a href="/language/">Language</a>
{% if results %}
<div class="wrap">
        <ol>
            {% for result in results %}
            <li class = "country"><a href="/countryblank/{{ result.country_name }}">{{ result.country_name }}</a></li>
            {% empty %}
            Other county have not
            {% endfor %}
        </ol>
</div>
{% endif %}

<br>
{% if pagination %}
<ol>
            {% for result in pagination %}
            <li class = "ramka"><a  href="{% url 'countries-page' result %}">{{ result }}</a></li>
            {% endfor %}
</ol>
{% endif %}

{% endblock %}